@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import 'styles/themes';
@import 'app/shared/components/boot-loader/boot-loader.external';
@import 'app/collections/collections/collections.external';
@import 'styles/layout';

body {
    margin: 0;
}

html, body {
    height: 100%;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[debug] {
    border: 2px solid red;
}

[debug][children] > * {
    border: 2px solid orange;
}

[debug][children][grandchildren] > * > * {
    border: 2px solid green;
}

#appContent {
    overflow-y: auto;
    & > *:not(router-outlet) {
        flex: 1 0 auto;
    }
}

perfect-scrollbar {
    position: relative;
    overflow: hidden;
    .ps-content {
        flex: auto;
    }
}

.mat-drawer-content {
    display: flex !important;
    flex: 1 1 auto !important;
}

.mat-form-field.width-auto {
    width: auto !important;
}


.mat-icon[matSuffix],
.mat-icon[matPrefix] {
    position: relative;
    top: 0.3em;
}

.mat-icon-button[matSuffix] {
    position: relative;
    top: -0.12em;
}

.searchField {
    font-size:16px;
}
