@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
@import '../node_modules/material-design-icons/iconfont/material-icons.css';

@import 'styles/themes';
@import 'app/shared/components/boot-loader/boot-loader.external';
@import 'app/collections/collections/collections.external';
@import 'app/shared/components/thesaurus/thesaurus.external';
@import 'styles/layout';
@import 'app/card/card.external';
@import 'app/list/list.external';

body {
    margin: 0;
}

html, body {
    height: 100%;
}

.pac-container {
    margin-top: 15px;
    margin-left: -10px;
}

/**
 * Debug
 */
pre.debug {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    font-family: Courrier, monospace;
}

[debug] {
    border: 2px solid red;
}

[debug][children] > * {
    border: 2px solid orange;
}

[debug][children][grandchildren] > * > * {
    border: 2px solid green;
}

.mat-autocomplete-panel {
    .mat-option.multiline {
        min-height:48px;
        height: auto;
        line-height: 1.6em;
        padding-top:10px;
        padding-bottom:10px;
    }
}

//#appBody {
//    overflow-y: hidden;
//    & > *:not(router-outlet) {
//        display: flex;
//        flex: 1;
//        flex-direction:column;
//        border: 1px solid green;
//    }
//}

.mat-form-field textarea.mat-autosize {
    overflow: hidden;
}

router-outlet + * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

perfect-scrollbar {
    position: relative;
    overflow: hidden;
    .ps-content {
        flex: auto;
    }
    .ps {
        display: inherit !important;
    }
}

.mat-drawer-content {
    display: flex !important;
    flex: 1 1 auto !important;
}

.mat-form-field.width-auto {
    width: auto !important;
}

.mat-icon[matSuffix],
.mat-icon[matPrefix] {
    position: relative;
    top: 0.3em;
}

.mat-icon-button[matSuffix] {
    position: relative;
    top: -0.12em;
}

.searchField {
    font-size: 16px;
}

// Allow newline in tooltips
.mat-tooltip {
    white-space: pre-line;
}
