<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Artiste">
            <div class="padding-v" fxLayout="column" fxLayoutGap="10px">
                <mat-form-field>
                    <input [(ngModel)]="data.item.name" [readonly]="data?.item?.permissions && !data.item.permissions.update" matInput name="name" placeholder="Nom" type="text"
                    >
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer (create)="create()" (delete)="delete()" (update)="update()" [canCreate]="user?.globalPermissions?.artist?.create" [item]="data.item" fxFlex
    ></app-dialog-footer>
</mat-dialog-actions>
