<div *ngIf="item" class="mat-caption" fxLayout="column" fxLayoutAlign="stretch stretch">

    <div *ngIf="item.creationDate || item.creator">
        Créé
        <span *ngIf="item.creator"> par {{ item.creator.login }}</span>
        <span *ngIf="item.creationDate">
            le {{ item.creationDate | date: 'dd.MM.yyyy' }} à {{ item.creationDate | date: 'HH:mm' }}
        </span>
    </div>

    <div *ngIf="item.updateDate || item.updater">
        Edité
        <span *ngIf="item.updater">par {{ item.updater.login }}</span>
        <span *ngIf="item.updateDate">
            le {{ item.updateDate | date: 'dd.MM.yyyy' }} à {{ item.updateDate | date: 'HH:mm' }}
        </span>
    </div>

    <div *ngIf="item.dataValidationDate || item.dataValidator">
        Données validées
        <span *ngIf="item.dataValidator"> par {{ item.dataValidator.login }}</span>
        <span *ngIf="item.dataValidationDate">
            le {{ item.dataValidationDate | date: 'dd.MM.yyyy' }} à {{ item.dataValidationDate | date: 'HH:mm' }}
        </span>
    </div>

    <div *ngIf="item.imageValidationDate || item.imageValidator">
        Image validée
        <span *ngIf="item.imageValidator">par {{ item.imageValidator.login }}</span>
        <span *ngIf="item.imageValidationDate">
            le {{ item.imageValidationDate | date: 'dd.MM.yyyy' }} à {{ item.imageValidationDate | date: 'HH:mm' }}
        </span>
    </div>

</div>
