@mixin card($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-card {

        mat-toolbar.edition {
            background: mat-color($accent, 0.4);
        }

    }

}


