@import '../../styles/utils';

:host {
    display: flex;
    flex: auto;
    @include fixedToolbar();

    .image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.33);
    }
}
