app-collections {

    .mat-list-item {
        height: auto !important;
        min-height: 48px !important;
        width: auto !important;

        .mat-list-item-content {
            padding-right: 6px !important;
            min-height: 48px !important;
        }

        &.withDesc .mat-list-item-content {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            align-items: start !important;
        }

    }

}
