<div fxFlex fxLayout="row">

    <div fxFlex="400px" class="containerWithToolbar" fxLayout="column">
        <mat-toolbar fxFlex="none" color="app" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/logo-blanc.svg" style="max-width:100%;height:30px;" />
            <div fxFlex></div>

            <button mat-icon-button (click)="showDescs = !showDescs" [matTooltip]="'Voir les descriptions'">
                <mat-icon>short_text</mat-icon>
            </button>
            <button mat-icon-button (click)="add()" [matTooltip]="'Créer une collection'">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>

        <div class="scrollable">
            <div fxLayout="column">

                <mat-nav-list fxFlex>
                    <a *ngFor="let item of collections.items"
                       mat-list-item
                       [ngClass]="{'withDesc': showDescs && item.description}"
                       [routerLink]="item.id"
                       routerLinkActive="active"
                    >
                        <mat-icon mat-list-icon>collections</mat-icon>
                        <span matLine fxLayout="row" fxLayoutAlign="start center">{{ item.name }}</span>
                        <span matLine *ngIf="showDescs && item.description" class="description">{{ item.description }}</span>
                        <button mat-icon-button (click)="edit($event, item)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </a>
                </mat-nav-list>

            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>
