<div fxFlex fxLayout="row">

    <div class="containerWithToolbar" fxFlex="400px" fxLayout="column">
        <mat-toolbar color="app" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />
            <div fxFlex></div>
            <button (click)="add()" *ngIf="canCreate" [matTooltip]="'Créer une collection'" mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>

        <perfect-scrollbar fxFlex>
            <div class="scrolled" fxLayout="column">

                <mat-nav-list *ngIf="showUnclassified">
                    <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['.']" mat-list-item routerLinkActive="active">
                        <mat-icon mat-list-icon>collections</mat-icon>
                        <span fxLayout="row" fxLayoutAlign="start center" matLine>Non classé</span>
                    </a>
                </mat-nav-list>

                <mat-nav-list *ngIf="showMyCards">
                    <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['my-cards']" mat-list-item routerLinkActive="active">
                        <mat-icon mat-list-icon>collections</mat-icon>
                        <span fxLayout="row" fxLayoutAlign="start center" matLine>Mes images</span>
                    </a>
                </mat-nav-list>

                <mat-divider *ngIf="showUnclassified"></mat-divider>

                <mat-nav-list>
                    <ng-container *ngFor="let item of collections">
                        <a [routerLink]="item.id" mat-list-item routerLinkActive="active">
                            <mat-icon mat-list-icon>collections</mat-icon>
                            <span fxLayout="row" fxLayoutAlign="start center" matLine>{{ item.name }}</span>
                            <button (click)="edit($event, item)" *ngIf="showEditButtons" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </a>

                        <ng-container *ngFor="let item of item.children">
                            <a [routerLink]="item.id" mat-list-item routerLinkActive="active" style="padding-left:20px;">
                                <mat-icon mat-list-icon>collections</mat-icon>
                                <span fxLayout="row" fxLayoutAlign="start center" matLine>{{ item.name }}</span>
                                <button (click)="edit($event, item)" *ngIf="showEditButtons" mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </a>

                            <ng-container *ngFor="let item of item.children">
                                <a [routerLink]="item.id" mat-list-item routerLinkActive="active" style="padding-left:40px;">
                                    <mat-icon mat-list-icon>collections</mat-icon>
                                    <span fxLayout="row" fxLayoutAlign="start center" matLine>{{ item.name }}</span>
                                    <button (click)="edit($event, item)" *ngIf="showEditButtons" mat-icon-button>
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </a>

                                <ng-container *ngFor="let item of item.children">
                                    <a [routerLink]="item.id" mat-list-item routerLinkActive="active" style="padding-left:60px;">
                                        <mat-icon mat-list-icon>collections</mat-icon>
                                        <span fxLayout="row" fxLayoutAlign="start center" matLine>{{ item.name }}</span>
                                        <button (click)="edit($event, item)" *ngIf="showEditButtons" mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </a>
                                </ng-container>

                            </ng-container>

                        </ng-container>

                    </ng-container>
                    <a (click)="more()" *ngIf="hasMore" fxLayout="column" fxLayoutAlign="center" mat-list-item>
                        <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
                        <span matLine>Afficher d'avantage</span>
                    </a>
                </mat-nav-list>
            </div>
        </perfect-scrollbar>
    </div>

    <router-outlet></router-outlet>

</div>
