/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/db.backup.sql.gz
/htdocs/favicon.ico
/htdocs/*.html
/htdocs/*.js
/htdocs/*.map
/htdocs/*.txt
/htdocs/*.css
/.idea/
/logs/
/node_modules/
/.php_cs.cache
/phpunit.xml
/vendor/

.DS_Store
