/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/data/tmp/*.*
/data/tmp/pptx*
/data/tmp/zip*
/data/tmp/*/*
/data/cache/*.*
/data/cache/DoctrineORMModule/*
/data/cache/images/*
/data/images/*
!/data/images/dw4jV3zYSPsqE2CB8BcP8ABD0.jpg
/*.backup.sql.gz
/htdocs/favicon.ico
/htdocs/*.html
/htdocs/*.js
/htdocs/*.map
/htdocs/*.txt
/htdocs/*.css
/htdocs/*.woff
/htdocs/*.woff2
/htdocs/*.ttf
/htdocs/*.eot
/htdocs/assets
/.idea/
/logs/
/node_modules/
/phpunit.xml
/vendor/
client/app/shared/generated-types.ts
.DS_Store


# keep it at the end of the file
!.gitkeep
