language: php
php:
  - "7.3"

addons:
    mariadb: "10.0"

cache:
  directories:
    - vendor
    - $HOME/.composer/cache
    - $HOME/.cache/yarn
    - node_modules

before_install:
  - nvm install 8
  - nvm use 8
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

before_script:
  - mysql -e 'CREATE DATABASE dilps;'
  - cp config/autoload/local.php.dist config/autoload/local.php
  - composer install --classmap-authoritative $NO_PROGRESS
  - ./bin/load-test-data.php
  - ./bin/build.sh

script:
  - ./vendor/bin/doctrine orm:validate-schema
  - ./vendor/bin/php-cs-fixer fix --diff --verbose --dry-run
  - ./vendor/bin/phpunit --coverage-clover coverage-clover.xml
  - ./node_modules/.bin/ng test --progress false --watch=false --browsers ChromeHeadlessCustom

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover coverage-clover.xml
