@mixin toolbar($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mat-toolbar[color=app] {
        background: rgba(66,66,66 , 0.7);
        color: white;
    }

}
