/**
   * fxLayoutAlign="center start" fxLayout="column"
   * Center content, but cause bug when there is scroll, the top of the content is **LOST**
   * This CSS fix this issue
   * Make sure you added the class contered-content to child element in html markup
   */
@mixin centerContent {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    .centered-content {
        margin: auto;
    }
}

@mixin mat-icon-size($size: 24px) {

    line-height: $size * 1.3;
    height: $size * 1.3;
    width: $size * 1.3;

    .mat-icon {
        font-size: $size;
        line-height: $size;
        height: $size;
        width: $size;
    }
}

@mixin fixedToolbar() {

    .containerWithToolbar {
        position: relative;

        .scrollable:not(perfect-scrollbar) {
            overflow-y: auto;
            padding-top: 64px;
        }

        .scrolled {
            margin-top: 64px;
        }

        mat-toolbar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
        }
    }

}
