* {
    // Background light;
    status-bar: #e0e0e0;
    app-bar: #f5f5f5;
    background: #fafafa;
    hover: rgba(0, 0, 0, 0.04);
    card: white;
    dialog: white;
    disabled-button: rgba(0, 0, 0, 0.12);
    raised-button: white;
    focused-button: rgba(0, 0, 0, 0.06);
    selected-button: #e0e0e0;
    selected-disabled-button: #bdbdbd;
    disabled-button-toggle: #eeeeee;

    // Foreground light;
    base: black;
    divider: rgba(0, 0, 0, 0.12);
    dividers: rgba(0, 0, 0, 0.12);
    disabled: rgba(0, 0, 0, 0.38);
    disabled-button: rgba(0, 0, 0, 0.38);
    disabled-text: rgba(0, 0, 0, 0.38);
    hint-text: rgba(0, 0, 0, 0.38);
    secondary-text: rgba(0, 0, 0, 0.54);
    icon: rgba(0, 0, 0, 0.54);
    icons: rgba(0, 0, 0, 0.54);
    text: rgba(0, 0, 0, 0.87);
    slider-off: rgba(0, 0, 0, 0.26);
    slider-off-active: rgba(0, 0, 0, 0.38);

    // Background dark;
    status-bar: black,
    app-bar: #212121,
    background: #303030,
    hover: rgba(255, 255, 255, 0.04),
    card: #424242,
    dialog: #424242,
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: #424242,
    focused-button: rgba(255, 255, 255, 0.06),
    selected-button: #212121,
    selected-disabled-button: #424242,
    disabled-button-toggle: #000000

    // Foreground dark
    base: white;
    divider: rgba(255, 255, 255, 0.12);
    dividers: rgba(255, 255, 255, 0.12);
    disabled: rgba(255, 255, 255, 0.3);
    disabled-button: rgba(255, 255, 255, 0.3);
    disabled-text: rgba(255, 255, 255, 0.3);
    hint-text: rgba(255, 255, 255, 0.3);
    secondary-text: rgba(255, 255, 255, 0.7);
    icon: white;
    icons: white;
    text: white;
    slider-min: white;
    slider-off: rgba(255, 255, 255, 0.3);
    slider-off-active: rgba(255, 255, 255, 0.3);

}
