<!-- Because directives can't be applied conditionally (routerLink, mat-button and mat-icon-button), we have to use different elements -->

<!-- App without navigation -->
<a *ngIf="!navigate && label" mat-button>
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span>{{ label }}</span>
</a>

<!-- App routed link with label... -->
<a *ngIf="navigate && label" mat-button [routerLink]="navigate" [queryParams]="queryParams">
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span>{{ label }}</span>
</a>

<!-- ... and without label -->
<a *ngIf="navigate && !label"
   mat-icon-button
   [routerLink]="navigate"
   [queryParams]="queryParams"
   [queryParamsHandling]="queryParamsHandling"
>
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
</a>

<!-- External link with label... -->
<a *ngIf="href && label" mat-button [attr.href]="href">
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span>{{ label }}</span>
</a>

<!-- ... and without label -->
<a *ngIf="href && !label" mat-icon-button [attr.href]="href">
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
</a>
