.natural-gallery-js {
    .button.title {
        padding: 5px !important;
        line-height: 1.4em !important;
    }
}

natural-gallery {
    .natural-gallery-js {
        .button {
            background: #000000 !important;
            border-top: 1px solid #4c4747;
            color: white !important;
            opacity: 0.8;
        }

        .button:hover {
            background: #000000 !important;
            opacity: 1;
        }
    }
}
