:host {
    flex: auto;
    display: flex;
    flex-direction: column;

    #listWrapper {
        padding-top: 64px;
        position: relative;

        #galleryContainer {
            overflow-y: auto;
            margin-top:-64px;
            padding-top:64px;
        }

        mat-toolbar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
        }
    }
}

