<div fxFlex fxLayout="column" class="containerWithToolbar">

    <mat-toolbar fxFlex="none" color="app" fxLayout="row" fxLayoutAlign="start center">
        <img *ngIf="showLogo" src="assets/images/logo-blanc.svg" style="max-width:100%;height:30px;" />
        <div fxFlex></div>

        <button *ngIf="selected?.length" mat-icon-button (click)="gallery.unselectAll()">
            <mat-icon>select_all</mat-icon>
        </button>

    </mat-toolbar>

    <div fxFlex class="scrollable" #scrollable>
        <natural-gallery #gallery
                         fxFlex
                         class="padding"
                         [collection]="galleryCollection"
                         [options]="options"
                         [scrollable]="scrollable"
                         (activate)="activate($event)"
                         (selectChange)="select($event)"
                         (pagination)="loadMore($event)"
        ></natural-gallery>
    </div>
</div>
