<mat-menu #sortingMenu="matMenu" [overlapTrigger]="false">
    <div mat-menu-item (click)="sort('name', SortingOrder.ASC)">Titre</div>
    <div mat-menu-item (click)="sort('creationDate', SortingOrder.DESC)">Date d'insertion en tête</div>
    <div mat-menu-item (click)="sort('dating', SortingOrder.ASC)">Datation</div>
    <div mat-menu-item (click)="sort('locality', SortingOrder.ASC)">Lieu</div>
    <div mat-menu-item (click)="sort('artists', SortingOrder.ASC)">Artistes</div>
</mat-menu>

<div fxFlex fxLayout="column" class="containerWithToolbar">

    <mat-toolbar fxFlex="none" color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <img *ngIf="showLogo" src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />

        <div id="natural-search-container" fxFlex fxLayout="row" fxLayoutAlign="start center"
        >
            <natural-search fxFlex
                            class="searchField"
                            [facets]="config"
                            [selections]="selections"
                            (selectionChange)="search($event)"
            ></natural-search>
            <button mat-icon-button mat-button [matMenuTriggerFor]="sortingMenu" matTooltip="Trier">
                <mat-icon>sort</mat-icon>
            </button>
        </div>

        <ng-container *ngIf="selected?.length">

            <!--<div *ngIf="selected.length === 1" class="mat-body-1">{{ selected.length }} élément sélectionné</div>-->
            <!--<div *ngIf="selected.length > 1" class="mat-body-1">{{ selected.length }} éléments sélectionnés</div>-->

            <button mat-icon-button (click)="linkSelectionToCollection(selected)" matTooltip="Ajouter à une collection">
                <mat-icon>library_add</mat-icon>
            </button>
            <button mat-icon-button *ngIf="collection?.id" (click)="unlinkFromCollection(selected)" matTooltip="Supprimer de la collection">
                <mat-icon>close</mat-icon>
            </button>

            <button mat-icon-button (click)="downloadSelection(selected)" matTooltip="Télécharger">
                <mat-icon>file_download</mat-icon>
            </button>

            <button mat-icon-button (click)="goToQuizz(selected)" matTooltip="Lecture d'oeuvre" *ngIf="!!user">
                <mat-icon>burst_mode</mat-icon>
            </button>

            <button mat-icon-button (click)="edit(selected)" matTooltip="Editer en masse" *ngIf="user?.role === 'administrator'">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button
                    (click)="delete(selected)"
                    color="warn"
                    matTooltip="Supprimer la fiche définitivement"
                    *ngIf="user?.role === 'administrator'"
            >
                <mat-icon>delete_forever</mat-icon>
            </button>

        </ng-container>

        <ng-container *ngIf="!selected?.length && user">
            <button mat-icon-button
                    *ngIf="collection?.id"
                    (click)="linkCollectionToCollection(collection)"
                    matTooltip="Ajouter la collection à une autre collection"
            >
                <mat-icon>library_add</mat-icon>
            </button>

            <button mat-icon-button
                    *ngIf="showDownloadCollection"
                    (click)="downloadCollection(collection)"
                    matTooltip="Télécharger la collection"
            >
                <mat-icon>file_download</mat-icon>
            </button>

            <button mat-icon-button (click)="goToQuizz()" matTooltip="Lecture d'oeuvre">
                <mat-icon>burst_mode</mat-icon>
            </button>
        </ng-container>

        <button mat-icon-button (click)="unselectAll()" matTooltip="Désélectionner tout" *ngIf="selected?.length">
            <mat-icon>select_all</mat-icon>
        </button>

        <button mat-icon-button
                (click)="selectAll()"
                matTooltip="Sélectionner les images visibles"
                *ngIf="!selected?.length"
        >
            <mat-icon>select_all</mat-icon>
        </button>

    </mat-toolbar>

    <perfect-scrollbar #scrollable>
        <div class="scrolled" fxFlex fxLayout="row">
            <natural-gallery #gallery
                             fxFlex
                             class="padding"
                             [options]="options"
                             [scrollable]="scrollable.directiveRef.elementRef.nativeElement"
                             (activate)="activate($event)"
                             (select)="select($event)"
                             (pagination)="loadMore($event)"
            ></natural-gallery>
        </div>
    </perfect-scrollbar>
</div>
