<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Collection">

            <div fxLayout="column" class="padding" fxLayoutGap="10px" class="padding-v">
                <mat-form-field>
                    <input matInput [(ngModel)]="data.item.name" placeholder="Nom" >
                </mat-form-field>

                <mat-form-field>
                    <input matInput [(ngModel)]="data.item.description" placeholder="Description" >
                </mat-form-field>

                <app-thesaurus [readonly]="true"
                               [service]="institutionSvc"
                               placeholder="Institution"
                               [model]="data.item.institution"
                               (modelChange)="data.item.institution = $event"
                               [multiple]="false"
                ></app-thesaurus>

                <mat-slide-toggle [(ngModel)]="data.item.isSource">Source</mat-slide-toggle>
            </div>

        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer fxFlex
                       [canCreate]="user?.globalPermissions?.collection?.create"
                       [item]="data.item"
                       (create)="create()"
                       (update)="update()"
                       (delete)="delete()"
    ></app-dialog-footer>
</mat-dialog-actions>
