<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Collection">

            <div class="padding" class="padding-v" fxLayout="column" fxLayoutGap="10px">

                <div *ngIf="showVisibility()" class="innerSpacing" fxLayout="column" style="max-width:300px">
                    <div fxLayout="row">Visible {{ visibilities[visibility].text }}</div>
                    <mat-slider (input)="updateVisibility($event);visibility = $event.value" [color]="visibilities[visibility] ? visibilities[visibility].color : null" [max]="3" [min]="1" [ngModel]="visibility"
                    ></mat-slider>
                </div>

                <mat-form-field>
                    <input [(ngModel)]="data.item.name" matInput placeholder="Nom">
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="data.item.description" matInput placeholder="Description">
                </mat-form-field>

                <app-thesaurus (modelChange)="data.item.institution = $event" [model]="institution" [multiple]="false" [service]="institutionSvc" placeholder="Institution"
                ></app-thesaurus>

                <mat-slide-toggle *ngIf="user?.role == 'administrator'" [(ngModel)]="data.item.isSource">Est un fonds</mat-slide-toggle>
            </div>

        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer (create)="create()" (delete)="delete()" (update)="update()" [canCreate]="user?.globalPermissions?.collection?.create" [item]="data.item" fxFlex
    ></app-dialog-footer>
</mat-dialog-actions>
