<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

    <mat-form-field [floatLabel]="floatPlaceholder" class="width-auto clear-top-spacing clear-bottom-spacing" id="test"
    >

        <!-- Input -->
        <input #input [formControl]="formCtrl" [matAutocomplete]="ac" [ngModel]="selected" [placeholder]="placeholder" [readonly]="readonly" aria-label="recherche et sélection" i18n-aria-label matInput
        >

        <!-- Meta data -->
        <mat-icon *ngIf="!loading && showIcon" matPrefix>search</mat-icon>
        <mat-progress-spinner *ngIf="showIcon && loading" [diameter]="21" [strokeWidth]="5" matPrefix mode="indeterminate"
        ></mat-progress-spinner>

        <!-- Clear button -->
        <button (click)="unselect($event)" *ngIf="!readonly && selected" i18n-matTooltip mat-icon-button matSuffix matTooltip="Désélectionner" matTooltipPosition="above"
        >
            <mat-icon>close</mat-icon>
        </button>

        <ng-template #defaultACItem let-item="item">
            <span>{{ getDisplayFn()(item) }}</span>
        </ng-template>

        <!-- Autocomplete menu -->
        <mat-autocomplete #ac="matAutocomplete" (optionSelected)="notify($event)" [autoActiveFirstOption]="autoActiveFirstOption" [displayWith]="getDisplayFn()"
        >
            <mat-option *ngFor="let item of filteredItems | async" [value]="item">
                <ng-template [ngTemplateOutletContext]="{ item: item }" [ngTemplateOutlet]="itemTemplate ? itemTemplate : defaultACItem"
                ></ng-template>
            </mat-option>
            <div *ngIf="moreNbItems > 0" class="mat-caption" i18n style="padding:5px 10px">{{ moreNbItems }} élément(s) supplémentaire(s)
            </div>
        </mat-autocomplete>
    </mat-form-field>

</div>
