<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

    <mat-form-field id="test" class="width-auto clear-top-spacing clear-bottom-spacing" [floatPlaceholder]="floatPlaceholder">

        <!-- Input -->
        <input matInput
               #input
               [readonly]="readonly"
               [placeholder]="placeholder"
               aria-label="recherche et sélection"
               i18n-aria-label
               [ngModel]="selected"
               (ngModelChange)="search($event)"
               (keydown.esc)="clear()"
               [formControl]="formCtrl"
               [matAutocomplete]="ac"
               (click)="this.open()"
               (blur)="blur.emit()"
               (focus)="onFocus()"
        >

        <!-- Meta data -->
        <mat-icon matPrefix *ngIf="!loading && showIcon">search</mat-icon>
        <mat-progress-spinner matPrefix *ngIf="showIcon && loading" [diameter]="21" [strokeWidth]="5" mode="indeterminate"></mat-progress-spinner>

        <!-- Clear button -->
        <button *ngIf="selected && formCtrl.enabled"
                (click)="clear()"
                mat-icon-button
                matSuffix
                i18n-matTooltip
                matTooltip="Désélectionner"
                matTooltipPosition="above"
        >
            <mat-icon name="close"></mat-icon>
        </button>

        <ng-template #defaultACItem let-item="item">
            <span>{{ getDisplayFn()(item) }}</span>
        </ng-template>

        <!-- Autocomplete menu -->
        <mat-autocomplete #ac="matAutocomplete" [displayWith]="getDisplayFn()" (optionSelected)="notify($event)">
            <mat-option *ngFor="let item of items | async" [value]="item">
                <ng-template [ngTemplateOutlet]="itemTemplate ? itemTemplate : defaultACItem" [ngTemplateOutletContext]="{ item: item }"
                ></ng-template>
            </mat-option>
            <div style="padding:5px 10px" class="mat-caption" *ngIf="moreNbItems > 0" i18n>{{ moreNbItems }} élément(s) supplémentaire(s)
            </div>
        </mat-autocomplete>
    </mat-form-field>

</div>
