<mat-tab-group>

    <!-- Collection existante -->
    <mat-tab label="Collection existante">
        <div class="padding" fxLayout="column">
            <app-select [service]="collectionSvc"
                        [(model)]="collection"
                        placeholder="Sélectionnez la collection"
                        [filters]="listFilters"
            ></app-select>
            <div fxLayout="row" fxFlexAlign="end">
                <button mat-button [disabled]="!collection?.id" (click)="link()">Ajouter à la collection</button>
            </div>
        </div>
    </mat-tab>

    <!-- Nouvelle collection -->
    <mat-tab label="Nouvelle collection">
        <div class="padding" fxLayout="column">
            <mat-form-field>
                <input matInput [(ngModel)]="newCollection.name" placeholder="Nom" >
            </mat-form-field>

            <mat-form-field>
                <textarea matInput [(ngModel)]="newCollection.description" placeholder="Description"></textarea>
            </mat-form-field>

            <app-select *ngIf="listFilters"
                        [service]="collectionSvc"
                        [(model)]="newCollection.parent"
                        placeholder="Collection parente"
                        [filters]="listFilters"
            ></app-select>

            <div fxLayout="row" fxFlexAlign="end">
                <button mat-button [disabled]="!newCollection.name" (click)="createAndLink()">
                    Créer et ajouter à la collection
                </button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
