<mat-tab-group>

    <!-- Collection existante -->
    <mat-tab label="Collection existante">
        <div class="padding" fxLayout="column">
            <app-select [(model)]="collection" [filters]="listFilters" [service]="collectionSvc" placeholder="Sélectionnez la collection"
            ></app-select>
            <div fxFlexAlign="end" fxLayout="row">
                <button (click)="link()" [disabled]="!collection?.id" mat-button>Ajouter à la collection</button>
            </div>
        </div>
    </mat-tab>

    <!-- Nouvelle collection -->
    <mat-tab label="Nouvelle collection">
        <div class="padding" fxLayout="column">
            <mat-form-field>
                <input [(ngModel)]="newCollection.name" matInput placeholder="Nom">
            </mat-form-field>

            <mat-form-field>
                <textarea [(ngModel)]="newCollection.description" matInput placeholder="Description"></textarea>
            </mat-form-field>

            <app-select *ngIf="listFilters" [(model)]="newCollection.parent" [filters]="listFilters" [service]="collectionSvc" placeholder="Collection parente"
            ></app-select>

            <div fxFlexAlign="end" fxLayout="row">
                <button (click)="createAndLink()" [disabled]="!newCollection.name" mat-button>
                    Ajouter à une nouvelle collection privée
                </button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<div fxLayout="column">
    <div *ngIf="image?.collections?.length" class="mat-subheading-2">Collections liées à la fiche</div>
    <div *ngFor="let collection of image?.collections" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon>collections</mat-icon>
        <div fxFlex>{{ collection.name }}</div>
        <button (click)="unlink(image, collection)" mat-icon-button matTooltip="Retirer la fiche de la collection">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>
