<mat-tab-group>

    <!-- Collection existante -->
    <mat-tab label="Collection existante">
        <div class="padding" fxLayout="column">
            <app-select [service]="collectionSvc" [(model)]="collection" placeholder="Sélectionnez la collection" [filters]="listFilters"
            ></app-select>
            <div fxLayout="row" fxFlexAlign="end">
                <button mat-button [disabled]="!collection?.id" (click)="link()">Ajouter à la collection</button>
            </div>
        </div>
    </mat-tab>

    <!-- Nouvelle collection -->
    <mat-tab label="Nouvelle collection">
        <div class="padding" fxLayout="column">
            <mat-form-field appearance="legacy">
                <input matInput [(ngModel)]="newCollection.name" placeholder="Nom" >
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <textarea matInput [(ngModel)]="newCollection.description" placeholder="Description"></textarea>
            </mat-form-field>

            <app-select *ngIf="listFilters"
                        [service]="collectionSvc"
                        [(model)]="newCollection.parent"
                        placeholder="Collection parente"
                        [filters]="listFilters"
            ></app-select>

            <div fxLayout="row" fxFlexAlign="end">
                <button mat-button [disabled]="!newCollection.name" (click)="createAndLink()">
                    Ajouter à une nouvelle collection privée
                </button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<div fxLayout="column">
    <div class="mat-subheading-2" *ngIf="image?.collections?.length">Collections liées à la fiche</div>
    <div *ngFor="let collection of image?.collections" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon>collections</mat-icon>
        <div fxFlex>{{ collection.name }}</div>
        <button mat-icon-button (click)="unlink(image, collection)" matTooltip="Retirer la fiche de la collection">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>
