<div fxLayout="row" fxLayoutAlign="start center">
    <app-stamp [item]="item" fxFlex></app-stamp>

    <button mat-button mat-dialog-close>Annuler</button>

    <button *ngIf="item.id" mat-raised-button (click)="delete.emit(item)" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Supprimer
    </button>

    <button *ngIf="item.id" mat-raised-button (click)="update.emit(item)" color="primary">
        <mat-icon>save</mat-icon>
        Enregistrer
    </button>

    <button *ngIf="!item.id" mat-raised-button (click)="create.emit(item)" color="primary">
        <mat-icon>add</mat-icon>
        Ajouter
    </button>
</div>
