<div fxLayout="row" fxLayoutAlign="start center">
    <app-stamp [item]="item" fxFlex></app-stamp>

    <button mat-button mat-dialog-close>Annuler</button>

    <button (click)="delete.emit(item)" *ngIf="item.id && item?.permissions?.delete" color="warn" mat-raised-button>
        <mat-icon>delete_forever</mat-icon>
        Supprimer
    </button>

    <button (click)="update.emit(item)" *ngIf="item.id && item?.permissions?.update" [disabled]="formCtrl?.errors" color="primary" mat-raised-button>
        <mat-icon>save</mat-icon>
        Enregistrer
    </button>

    <button (click)="create.emit(item)" *ngIf="!item.id && canCreate" color="primary" mat-raised-button>
        <mat-icon>add</mat-icon>
        Ajouter
    </button>
</div>
