@mixin quizz($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-quizz {
        .attribute {

            background: mat-color($warn, 0.3);

            .attributeAnswer:hover {
                background: mat-color($warn, 0.2);
            }

            &.valid {
                background: mat-color($primary, 0.3);

                .attributeAnswer:hover {
                    background: mat-color($primary, 0.2);
                }
            }
        }
    }
}



