:host {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.33);
    }

    .instructions {
        margin-bottom: 10px;
    }

    .instructions p:first-child {
        font-weight: bold;
    }

    .attribute {
        margin: 0 10px 10px 10px;

        & > div {
            padding: 10px;
        }

        .attributeName {
            font-size: 16px;
            font-weight: bold;
        }
    }
}
