@mixin address($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-address {

        #mapZone {
            #search {
                background: mat-color($bg, background);
            }

            mat-form-field {

                .mat-form-field-wrapper {
                    margin-bottom: -1.25em;
                }

                .mat-form-field-infix {
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 0.4375em 0;
                    border-top: 0.6em solid transparent;
                    border-bottom: 0.6em solid transparent;
                }
            }
        }
    }

}


