<div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field>
        <input matInput
               name="street"
               placeholder="Rue"
               [(ngModel)]="model.street"
               (keyup)="updateSearch()"
               (keyup.enter)="search()"
        >
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput
                   name="postcode"
                   placeholder="NPA"
                   [(ngModel)]="model.postcode"
                   (keyup)="updateSearch()"
                   (keyup.enter)="search()"
            >
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput
                   name="locality"
                   placeholder="Localité"
                   [(ngModel)]="model.locality"
                   (keyup)="updateSearch()"
                   (keyup.enter)="search()"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   name="country"
                   placeholder="Pays"
                   [(ngModel)]="model.country"
                   (keyup)="updateSearch()"
                   (keyup.enter)="search()"
            >
        </mat-form-field>
    </div>

</div>

<div id="mapZone">
    <mat-form-field id="search" class="mat-elevation-z4" floatPlaceholder="never">
        <input matInput
               placeholder="Chercher"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="off"
               type="text"
               class="form-control"
               #input
               [formControl]="formCtrl"
        >
    </mat-form-field>

    <!-- Map -->
    <agm-map [latitude]="model.latitude" [longitude]="model.longitude" [zoom]="zoom" [styles]="mapStyles">
        <agm-marker [latitude]="model.latitude"
                    [longitude]="model.longitude"
                    [markerDraggable]="true"
                    (dragEnd)="dragged($event)"
                    [iconUrl]="icon"
        ></agm-marker>
    </agm-map>

</div>
