<div [fxLayoutGap]="vertical ? '0px' : '10px'" fxLayout="column">
    <mat-form-field *ngIf="!readonly || !!model?.street">
        <input (keyup.enter)="search()" [(ngModel)]="model.street" [readonly]="readonly" matInput name="street" placeholder="Rue">
    </mat-form-field>

    <div [fxLayoutGap]="vertical ? '0px' : '10px'" [fxLayout]="vertical ? 'column': 'row'">
        <mat-form-field *ngIf="!readonly || !!model?.postcode">
            <input (keyup.enter)="search()" [(ngModel)]="model.postcode" [readonly]="readonly" matInput name="postcode" placeholder="NPA"
            >
        </mat-form-field>
        <mat-form-field *ngIf="!readonly || !!model?.locality" [fxFlex]="!vertical"
        >
            <input (keyup.enter)="search()" [(ngModel)]="model.locality" [readonly]="readonly" matInput name="locality" placeholder="Localité"
            >
        </mat-form-field>

        <app-select (keyup.enter)="search()" *ngIf="countries && (!readonly || !!model?.postcode)" [(model)]="model.country" [autoActiveFirstOption]="true" [items]="countries" [readonly]="readonly" [showIcon]="false" placeholder="Pays"
        ></app-select>
    </div>
</div>

<div id="mapZone">
    <mat-form-field [fxShow]="!readonly" class="mat-elevation-z4" floatLabel="never" id="search"
    >
        <input #input [formControl]="formCtrl" autocapitalize="off" autocorrect="off" class="form-control" matInput placeholder="Chercher" spellcheck="off" type="text"
        >
    </mat-form-field>

    <!-- Map -->
    <agm-map *ngIf="!readonly || (!!model?.latitude && !!model?.longitude)" [latitude]="model?.latitude" [longitude]="model?.longitude" [scrollwheel]="false" [styles]="mapStyles" [zoom]="zoom" style="height:300px;"
    >
        <agm-marker (dragEnd)="onMarkerDrag($event)" [iconUrl]="icon" [latitude]="model?.latitude" [longitude]="model?.longitude" [markerDraggable]="!readonly"
        ></agm-marker>
    </agm-map>

</div>
