:host {

    agm-map {
        height: 450px;
    }

    #mapZone {

        position: relative;

        #search {
            position: absolute;
            z-index: 5;
            top: 5px;
            left: 5px;
            padding-bottom: -1.25em;
            width: 370px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
}
