<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Institution">
            <div class="padding-v" fxLayout="column" fxLayoutGap="10px">
                <mat-form-field>
                    <input [(ngModel)]="data.item.name" [readonly]="data?.item?.permissions && !data.item.permissions.update" matInput name="name" placeholder="Nom" type="text"
                    >
                </mat-form-field>
                <app-address *ngIf="data.item.street !== undefined" [(model)]="data.item" [readonly]="data?.item?.permissions && !data.item.permissions.update"
                ></app-address>
            </div>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer (create)="create()" (delete)="delete()" (update)="update()" [canCreate]="user?.globalPermissions?.institution?.create" [item]="data.item" fxFlex
    ></app-dialog-footer>
</mat-dialog-actions>
