<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Images">
            <div class="padding" fxLayout="column">
                <mat-form-field>
                    <mat-select [(value)]="size" placeholder="Taille des images">
                        <mat-option *ngFor="let s of sizes" [value]="s.value">
                            {{ s.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="includeLegend" [disabled]="denyLegendsDownload">Inclure les légendes au format HTML
                </mat-checkbox>

                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadZip()" mat-button>Télécharger en ZIP</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="PowerPoint">
            <div class="padding" fxLayout="column">
                <mat-form-field>
                    <input [(ngModel)]="backgroundColor" matInput maxlength="7" placeholder="Couleur d'arrière-plan">
                    <span [style.background]="backgroundColor" class="color" matSuffix></span>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="textColor" matInput maxlength="7" placeholder="Couleur du texte">
                    <span [style.background]="textColor" class="color" matSuffix></span>
                </mat-form-field>
                <div fxFlexAlign="end" fxLayout="row">
                    <button (click)="downloadPowerPoint()" mat-button>Télécharger en PowerPoint</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
