<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Utilisateur">

            <div class="padding-v" fxLayout="column" fxLayoutGap="10px">

                <mat-form-field class="width-auto">
                    <input [(ngModel)]="data.item.login" [disabled]="!!data.item.id" matInput name="login" placeholder="Login">
                </mat-form-field>

                <mat-form-field *ngIf="!isShibbolethUser()">
                    <input [(ngModel)]="data.item.email" matInput name="email" placeholder="Email" type="email">
                </mat-form-field>

                <div *ngIf="(user?.globalPermissions?.user?.create || data.item?.permissions?.update) && !isShibbolethUser()" [formGroup]="passwordGroupCtrl" fxLayout="column" fxLayoutGap="10px">
                    <mat-form-field>
                        <input [(ngModel)]="data.item.password" [formControl]="passwordCtrl" matInput name="password" placeholder="Mot de passe" type="password">
                    </mat-form-field>

                    <mat-form-field>
                        <input [formControl]="passwordConfirmationCtrl" matInput name="password_confirmation" placeholder="Confirmation du mot passe" type="password">

                        <mat-error *ngIf="passwordConfirmationCtrl.hasError('password')">Le mot de passe n'est pas identique</mat-error>
                    </mat-form-field>
                </div>

                <app-thesaurus (modelChange)="data.item.institution = $event" [model]="institution" [multiple]="false" [service]="institutionService" placeholder="Institution"
                ></app-thesaurus>

                <mat-form-field>
                    <input [(ngModel)]="data.item.activeUntil" [matDatepicker]="picker" matInput name="activeUntil" placeholder="Active jusqu'au"
                    >
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="data.item.id">
                    <input [(ngModel)]="data.item.termsAgreement" [matDatepicker]="picker2" disabled matInput name="termsAgreement" placeholder="Licence"
                    >
                    <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-select [(value)]="data.item.role" [disabled]="user?.id === data?.item?.id" placeholder="Rôle">
                        <mat-option *ngFor="let role of roles" [value]="role.name"> {{ role.text }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="data.item.id">
                    <input [(ngModel)]="data.item.type" disabled matInput name="type" placeholder="Type d'utilisateur">
                </mat-form-field>
            </div>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer (create)="create()" (delete)="delete()" (update)="update()" [canCreate]="user?.globalPermissions?.user?.create" [formCtrl]="passwordConfirmationCtrl" [item]="data.item" fxFlex
    ></app-dialog-footer>
</mat-dialog-actions>
