<div class="padding" fxLayout="column" fxLayoutGap="40px">

    <div fxLayout="row"fxLayoutGap="20px" fxLayoutAlign="start center">
        <h1 class="mat-headline no-margin" fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <mat-icon>account_circle</mat-icon>
            <span >Mon profil</span>
        </h1>
    </div>

    <form #userForm="ngForm" (ngSubmit)="onSubmit()" class="panelBody">

        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="width-auto" matTooltip="L'identifiant de connexion ne peut pas être modifié" fxFlex>
                <input matInput disabled name="login" placeholder="login" value="{{ data.login }}" >
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field class="width-auto" fxFlex>
                <input matInput type="text" [(ngModel)]="data.firstname" name="firstname" placeholder="Prénom" required >
            </mat-form-field>

            <mat-form-field class="width-auto" fxFlex>
                <input matInput type="text" [(ngModel)]="data.lastname" name="lastname" placeholder="Nom" >
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <button mat-raised-button (click)="logout()" color="warn">
                <mat-icon>exit_to_app</mat-icon>
                <ng-container >Se déconnecter</ng-container>
            </button>
            <div fxFlex></div>
            <button type="submit" mat-raised-button color="accent" [disabled]="!userForm.form.valid" >Sauver</button>
        </div>
    </form>

</div>
