<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Utilisateur">

            <div fxLayout="column" fxLayoutGap="10px" class="padding-v">

                <mat-form-field class="width-auto" >
                    <input matInput [disabled]="!!data.item.id" name="login" placeholder="Login" [(ngModel)]="data.item.login" >
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="data.item.email" >
                </mat-form-field>

                <app-thesaurus [readonly]="true"
                               [service]="institutionService"
                               placeholder="Institution"
                               [model]="data.item.institution"
                               (modelChange)="data.item.institution = $event"
                               [multiple]="false"
                ></app-thesaurus>

                <mat-form-field>
                    <input matInput
                           name="activeUntil"
                           placeholder="Active jusqu'au"
                           [(ngModel)]="data.item.activeUntil"
                           [matDatepicker]="picker"
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="data.item.id">
                    <input matInput
                           disabled
                           name="termsAgreement"
                           placeholder="Licence"
                           [(ngModel)]="data.item.termsAgreement"
                           [matDatepicker]="picker2"
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="data.item.id">
                    <input matInput disabled name="type" placeholder="Type d'utilisateur" [(ngModel)]="data.item.type" >
                </mat-form-field>
            </div>
        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
    <app-dialog-footer fxFlex
                       [item]="data.item"
                       (create)="create(data.item)"
                       (update)="update(data.item)"
                       (delete)="delete(data.item)"
    ></app-dialog-footer>
</mat-dialog-actions>
