@mixin home($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $bg: map-get($theme, background);
    $fg: map-get($theme, foreground);

    app-home {
        #menu {
            background: mat-color($primary);

            mat-nav-list {
                padding: 0;
                width: 64px;
            }

            .mat-list-item {
                color: mat-color($primary, default-contrast);
                height: 64px;
            }

            .mat-list-item.active {
                background: rgba(255, 255, 255, 0.2);
            }

            .mat-list-item:not(.active):hover {
                background: rgba(0, 0, 0, 0.2);
            }

            .mat-divider {
                border-top-color: rgba(255, 255, 255, 0.2);
            }

            .mat-drawer-inner-container {
                overflow: hidden;
            }
        }
    }

    .mat-menu-panel.error-menu {
        max-width: none !important;
        width: auto !important;

        .mat-caption {
            word-break: break-all;
        }

        .error:not(:last-child) {
            padding-bottom: 20px;
        }

        .mat-menu-item {
            height: auto;
        }
    }

}


