<div fxFlex fxLayout="column" appFileDrop [ngfFixOrientation]="false">

    <mat-sidenav-container #navContainer fxFlex fxLayout="column">
        <mat-sidenav *ngIf="showNavigationMenu()"
                     id="menu"
                     position="start"
                     mode="side"
                     opened="true"
                     class="menuMinimized {{environmentString}}"
        >
            <div fxFlex fxLayout="row" fxFlexAlign="start center">
                <perfect-scrollbar fxLayout="column">

                    <ng-container *ngIf="user">

                        <mat-nav-list>
                            <!-- Dashboard -->
                            <a mat-list-item
                               routerLink="/"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }"
                               [queryParams]="null"
                            >
                                <mat-icon mat-list-icon>home</mat-icon>
                                <span matLine>Accueil</span>
                            </a>

                            <!-- Collections publiques -->
                            <a mat-list-item
                               routerLink="/collection"
                               routerLinkActive="active"
                               matTooltipPosition="after"
                               matTooltip="Collections publiques"
                            >
                                <mat-icon mat-list-icon>collections</mat-icon>
                            </a>

                            <!-- Mes collections privées -->
                            <a mat-list-item
                               routerLink="/my-collection"
                               routerLinkActive="active"
                               matTooltipPosition="after"
                               matTooltip="Mes collections"
                            >
                                <mat-icon mat-list-icon>collections_bookmark</mat-icon>
                            </a>

                            <!-- Fonds -->
                            <a mat-list-item routerLink="/source" routerLinkActive="active" matTooltipPosition="after" matTooltip="Fonds"
                            >
                                <mat-icon mat-list-icon>folder_special</mat-icon>
                            </a>

                            <!-- Users -->
                            <a mat-list-item
                               routerLink="/user"
                               routerLinkActive="active"
                               matTooltipPosition="after"
                               matTooltip="Liste des utilisateurs"
                               *ngIf="user.role === 'administrator'"
                            >
                                <mat-icon mat-list-icon>group</mat-icon>
                            </a>

                            <!-- Notifications -->
                            <a mat-list-item
                               routerLink="/notification"
                               routerLinkActive="active"
                               matTooltipPosition="after"
                               matTooltip="Notifications"
                            >
                                <mat-icon mat-list-icon>notifications</mat-icon>
                            </a>

                            <!-- Add photos -->
                            <a mat-list-item
                               matTooltipPosition="after"
                               matTooltip="Ajouter une image"
                               ngfSelect
                               [ngfFixOrientation]="false"
                               multiple="1"
                               (filesChange)="uploadPhoto($event)"
                               *ngIf="user.role === 'administrator' || user.role === 'senior' || user.role === 'junior'"
                            >
                                <mat-icon mat-list-icon>file_upload</mat-icon>
                            </a>
                        </mat-nav-list>
                        <mat-divider *ngIf="user.role === 'administrator' || user.role === 'senior' || user.role === 'junior'"></mat-divider>
                        <mat-nav-list *ngIf="user.role === 'administrator' || user.role === 'senior' || user.role === 'junior'">

                            <!-- Institutions -->
                            <a mat-list-item
                               routerLink="/institution"
                               routerLinkActive="active"
                               matTooltipPosition="after"
                               matTooltip="Institutions"
                            >
                                <mat-icon mat-list-icon>place</mat-icon>
                            </a>

                            <!-- Authors -->
                            <a mat-list-item routerLink="/artist" routerLinkActive="active" matTooltipPosition="after" matTooltip="Artistes"
                            >
                                <mat-icon mat-list-icon>copyright</mat-icon>
                            </a>

                        </mat-nav-list>
                        <mat-divider></mat-divider>
                        <mat-nav-list fxFlex>
                            <!-- Account -->
                            <a mat-list-item (click)="editUser()" matTooltipPosition="after" matTooltip="Mon compte">
                                <mat-icon mat-list-icon>account_circle</mat-icon>
                            </a>

                            <!-- Logout -->
                            <a mat-list-item (click)="userSvc.logout()" matTooltipPosition="after" matTooltip="Se déconnecter">
                                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                            </a>
                        </mat-nav-list>

                    </ng-container>

                    <mat-nav-list fxFlex *ngIf="!user">

                        <!-- Dashboard -->
                        <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <mat-icon mat-list-icon>home</mat-icon>
                            <span matLine>Accueil</span>
                        </a>

                        <!-- Logout -->
                        <a mat-list-item (click)="userSvc.revokeTempAccess()" matTooltipPosition="after" matTooltip="Se connecter">
                            <mat-icon mat-list-icon>account_circle</mat-icon>
                        </a>
                    </mat-nav-list>

                    <!-- Bottom nav -->
                    <a mat-icon-button
                       mat-raised-button
                       [matMenuTriggerFor]="errorsMenu"
                       color="warn"
                       *ngIf="errors.length"
                       style="margin:0 11px"
                    >
                        <mat-icon>error</mat-icon>
                    </a>

                    <mat-nav-list>
                        <!-- Theme -->
                        <a mat-list-item (click)="themeSvc.toggle()">
                            <mat-icon mat-list-icon>invert_colors</mat-icon>
                            <span matLine>Changer couleurs</span>
                        </a>
                    </mat-nav-list>
                </perfect-scrollbar>
            </div>
        </mat-sidenav>

        <div id="appContent" fxFlex fxLayout="row">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-container>

</div>

<mat-menu #errorsMenu="matMenu" [overlapTrigger]="false" class="padding error-menu" fxLayout="column" fxLayoutGap="60px">
    <div mat-menu-item
         *ngFor="let error of errors"
         fxLayout="column"
         class="error"
         (click)="$event.stopPropagation()"
         style="user-select: text"
    >
        <span class="mat-caption" style="font-weight:bold">{{ error.category }}</span>
        <span class="mat-caption">{{ error.message }}</span>
        <span class="mat-caption">{{ error.debugMessage }}</span>
    </div>
    <button mat-menu-item (click)="errors = []">
        <mat-icon>close</mat-icon>
        Masquer
    </button>
</mat-menu>
