@import '../../styles/utils';

:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    #menu {
        @include centerContent();

        &.menuMinimized {
            &, perfect-scrollbar {
                width: 0;
                min-width: 64px;
            }
        }
        &.development {
            background-color: #2ca02c !important;
        }
        &.staging {
            background-color: #ee7f00 !important;
        }
    }
}
