<div fxFlexFill>

    <mat-sidenav-container #navContainer fxFlex fxLayout="column">

        <mat-sidenav *ngIf="initialized"
                     id="menu"
                     align="start"
                     [mode]="sidemenuSvc.activeMode"
                     [opened]="sidemenuSvc.isOpened"
                     [ngClass]="sidemenuSvc.isMinimized ? 'menuMinimized' : null"
        >
            <div fxFlex fxLayout="row" fxFlexAlign="start center">

                <div fxLayout="column">

                    <mat-nav-list fxFlex>

                        <!-- Dashboard -->
                        <a mat-list-item
                           routerLink="/"
                           (click)="sidemenuSvc.navItemClicked()"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }"
                        >
                            <mat-icon mat-list-icon>home</mat-icon>
                            <span matLine i18n>Accueil</span>
                        </a>

                        <!-- Account -->
                        <a mat-list-item routerLink="/user" (click)="sidemenuSvc.navItemClicked()" routerLinkActive="active"
                        >
                            <mat-icon mat-list-icon>person</mat-icon>
                            <span matLine i18n>Mon compte</span>
                        </a>
                    </mat-nav-list>

                    <mat-nav-list>

                        <mat-divider></mat-divider>

                        <a mat-list-item (click)="toggleTheme()">
                            <mat-icon mat-list-icon>invert_colors</mat-icon>
                            <span matLine>Changer couleurs</span>
                        </a>

                        <mat-divider></mat-divider>

                        <a mat-list-item
                           *ngIf="!sidemenuSvc.isMinimized && !sidemenuSvc.isMobileView()"
                           (click)="sidemenuSvc.setMinimized(true)"
                        >
                            <mat-icon mat-list-icon>keyboard_arrow_left</mat-icon>
                        </a>

                        <a mat-list-item
                           *ngIf="sidemenuSvc.isMinimized && !sidemenuSvc.isMobileView()"
                           (click)="sidemenuSvc.setMinimized(false)"
                        >
                            <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                        </a>

                    </mat-nav-list>
                </div>

            </div>

        </mat-sidenav>

        <perfect-scrollbar id="appBody" fxFlex fxLayout="column">
            <div id="appContent" fxFlex fxLayout="column">
                <router-outlet (activate)="initialized = true"></router-outlet>
            </div>
        </perfect-scrollbar>

    </mat-sidenav-container>

</div>
