<div class="containerWithToolbar" fxFlex fxLayout="column">

    <mat-toolbar fxFlex="none" color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <img src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />
        <div fxFlex></div>

        <ng-container *ngIf="user?.role === 'administrator'">
            <button *ngIf="change" mat-icon-button mat-raised-button color="primary" matTooltip="Accepter suggestion" (click)="accept()">
                <mat-icon>check</mat-icon>
            </button>
            <button *ngIf="change" mat-icon-button mat-raised-button color="warn" matTooltip="Refuser la suggestion" (click)="reject()">
                <mat-icon>close</mat-icon>
            </button>
        </ng-container>

        <button *ngIf="original"
                mat-icon-button
                mat-raised-button
                color="primary"
                matTooltip="Soumettre la suggestion à validation"
                (click)="update()"
        >
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="!original && suggestion"
                mat-icon-button
                mat-raised-button
                color="primary"
                matTooltip="Soumettre l'ajout de cette fiche à validation"
                (click)="create()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <perfect-scrollbar fxFlex>
        <div class="scrolled" fxFlex fxLayout="row">
            <div fxFlex fxLayout="row" *ngIf="loaded">

                <!-- Original -->
                <div fxFlex *ngIf="!change?.original && !original" fxLayout="column" fxLayoutAlign="center center">
                    <div class="mat-display-1">Nouvelle fiche</div>
                </div>
                <div fxFlex fxLayout="column" *ngIf="change && change.original">
                    <app-card fxFlex [(model)]="change.original" title="Original"></app-card>
                </div>
                <div fxFlex fxLayout="column" *ngIf="original">
                    <app-card fxFlex [(model)]="original" title="Original"></app-card>
                </div>

                <!-- Suggestion -->
                <div fxFlex *ngIf="!change?.suggestion && !suggestion" fxLayout="column" fxLayoutAlign="center center">
                    <div class="mat-display-1">Suppression de la fiche</div>
                </div>
                <div fxFlex fxLayout="column" *ngIf="change && change.suggestion">
                    <app-card fxFlex title="Suggestion" [(model)]="change.suggestion" [imageSrc]="suggestionImageSrc" [editable]="true"
                    ></app-card>
                </div>
                <div fxFlex fxLayout="column" *ngIf="suggestion">
                    <app-card fxFlex
                              [(model)]="suggestion"
                              title="Suggestion"
                              [imageSrc]="suggestionImageSrc"
                              [editable]="true"
                              [hideTools]="true"
                    ></app-card>
                </div>
            </div>
        </div>
    </perfect-scrollbar>

</div>
