<perfect-scrollbar>

    <mat-toolbar color="app" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <img src="assets/images/logo-bleu.svg" style="max-width:100%;height:30px;" />

        <div fxFlex>
            <mat-form-field class="searchField width-auto no-padding" floatLabel="never" fxFlex
            >
                <input (change)="dataSource.filter({search : $event.target.value})" (keyup.esc)="dataSource.filter({search : ''})" [ngModel]="dataSource.snapshot.options?.filters?.search" appFocus matInput placeholder="Rechercher"
                >
                <mat-icon matPrefix>search</mat-icon>
                <button (click)="dataSource.filter({search : ''})" mat-icon-button matSuffix>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div>
            <button (click)="add()" mat-icon-button matTooltip="Ajouter un utilisateur">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="padding">

        <div class="mat-headline">Utilisateurs</div>

        <mat-table [dataSource]="dataSource">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <app-table-button (click)="isLegacyUser(element) || edit(element)" [disable]="isLegacyUser(element)" [label]="element.login" icon="edit"></app-table-button>
                </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.role | role }}</mat-cell>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.type | type }}</mat-cell>
            </ng-container>

            <!-- activeUntil Column -->
            <ng-container matColumnDef="activeUntil">
                <mat-header-cell *matHeaderCellDef>Validité</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.activeUntil | date:'dd.MM.yyyy' }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div *ngIf="dataSource.snapshot.data.length === 0" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <div i18n>Pas de résultats</div>
        </div>

        <div *ngIf="!dataSource.snapshot.data.items" class="margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
        </div>

        <mat-paginator (page)="dataSource.paging($event)" *ngIf="dataSource.snapshot.data.length > 0" [length]="dataSource.snapshot.data.length" [pageIndex]="dataSource.snapshot.options.pagination.pageIndex" [pageSizeOptions]="dataSource.pageSizeOptions" [pageSize]="dataSource.snapshot.options.pagination.pageSize"
        ></mat-paginator>
    </div>
</perfect-scrollbar>
