<mat-form-field class="innerSpacing">

    <mat-chip-list #chipList aria-orientation="vertical" class="mat-chip-list-stacked" [disabled]="readonly">
        <mat-chip *ngFor="let item of items" [selectable]="true" [removable]="true" (remove)="removeTerm(item)" fxLayoutRow="row">
            <span fxFlex>{{ item.name }}</span>
            <mat-icon matChipRemove *ngIf="!readonly">cancel</mat-icon>
        </mat-chip>
        <input #input
               [disabled]="readonly"
               [formControl]="formCtrl"
               [placeholder]="placeholder"
               [matChipInputFor]="chipList"
               [matAutocomplete]="autocomplete"
               (ngModelChange)="onSearch($event)"
               (focus)="startSearch()"
               (click)="onClick()"
               (keydown.enter)="onEnter($event)"
        />
    </mat-chip-list>

    <!-- Autocomplete menu -->
    <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="selectSuggestion($event)">
        <mat-option *ngFor="let item of suggestionsObs | async" [value]="item">{{ item.name }}</mat-option>
        <div style="padding:5px 10px" class="mat-caption" *ngIf="moreNbItems > 0" i18n>{{ moreNbItems }} élément(s) supplémentaire(s)</div>
    </mat-autocomplete>

</mat-form-field>
