<?php

declare(strict_types=1);

/*
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => 'localhost',
                    'dbname' => 'dilps',
                    'user' => 'root',
                    'password' => '',
                    'port' => 3306,
                ],
            ],
        ],
    ],
    'moodle' => [
        'redirectUrl' => 'https://your.moodle.redirect.url',
    ],
    'files' => [
        'unlink' => true,
    ],
];
